=form_for(@album) do |f|
  .field
    =f.label :artist
    =f.collection_select :artist_id, @artists, :id, :name, :id => :artist

  .field
    =f.label :name
    =f.text_field :name, :id => :name

  .field
    =f.label :year
    =f.number_field :year, :id => :year

  .actions
    = f.submit
